groq                          
python-dotenv   
numpy                    
Pillow                    
scikit-learn                               
requests
futures
yake
torch
opencv-python-headless
Pillow
Python-IO
langchain-community
tiktoken
paddlepaddle
paddleocr
requests
PyOpenGL
PyOpenGL_accelerate
ultralytics
arxiv


